<div class="col-sm-12 col-sm-2">
  <h3><%= link_to event.title, event_path(event) %></h3>
  <div class="img-thumbnail">
    <a href="<%= event_path(event) %>">
      <%= image_tag event_thumb(event), class: "img-app", alt: "event_jpg", id: "HomeImage" %>
    </a>
    <div class="thumbnail-inner event-info-inner">
      <div class="event-description">
        <div class="buffer-both"><%= event.address %></div>
      </div>
    </div>
  </div>

</div>
