<div class="text-center">
  <div class="buffer-both">
    <%= image_tag "logo.jpg", alt: "swap_img",
                  id: "HomeImage",
                  class: "img-circle img-logo" %>
    <%= link_to 'Предложить товар на обмен', new_event_path, class: 'btn btn-success' %>
  </div>

  <div class="row buffer-bottom">
    <%# Рендерим сразу массив товаров, каждый в паршиале 'swaps/swap' %>
    <%= render partial: 'events/event', collection: @events %>
  </div>
</div>
</div>