<div class="event">
  <div class="event-info row">
    <div class="col-md-8 col-md-8">
      <h2 class="page-header"><%= @event.title %></h2>
      <div class="img-rounded"><%= image_tag(event_photo(@event), class: 'img-thumbnail') %>
      </div>
      <div class="event-photos">
        <%# Выводим все фотографии события %>
        <div class="event-photos-gallery">
          <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
        </div>


        <%# Кнопка вывода формы добавления фотографии %>


        <%# Рисуем форму для добавления новой фотографии (которая будет скрыта) %>
        <div class="event-photo-form">
          <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
        </div>
      </div>

      <div class="buffer-top">
        <% if current_user_can_edit?(@event) %>
            <div class="buffer-top text-right">
              <%= link_to 'Удалить', event_path(@event), method: :delete, class: 'btn btn-sm btn-danger',
                          data: {confirm: "Вы уверены?"} %>

              <%= link_to "Добавить фотку", '#', class: 'btn btn-primary event-photo-form-link' %>
              <%# Кнопка вывода формы добавления фотографии %>
              <%= link_to 'Изменить описание', edit_event_path(@event), class: 'btn btn-primary' %>
            </div>
        <% end %>
      </div>
      <h5>Добавлено : <%= l @event.datetime, format: :short %></h5>
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Описание</div>
            <div class="panel-body">
              <p><%= @event.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="event-owner text-right">
      <h4>Предлагает обмен:</h4>
      <h3><%= render partial: 'users/user', object: @event.user %></h3>
      <p class="rightstr event-map" id="map" data-address="<%= @event.address %>"></p>
      <div class="event-subscriptions">
        <h4>Хотят поменяться:</h4>
        <div>
          <p>
            <%= render(
                    partial: 'subscriptions/subscription',
                    collection: @event.subscriptions.except(@new_subscription)
                ) %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="event-subscription-form">
        <% if (current_user_can_edit?(@event)) == false %>
            <h4>Хочу меняться:</h4>
            <div>
              <%= render partial: 'subscriptions/form', locals: {subscription: @new_subscription || @event.subscriptions.build} %>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="event-comments buffer-top">
        <div class="buffer-both">
          <%= render partial: 'comments/comment', collection: @event.comments.except(@new_comment) %>
        </div>

        <%= render partial: 'comments/form', locals: {comment: @new_comment || @event.comments.build} %>

      </div>
    </div>
  </div>
</div>
</div>
