<%= form_for [@event, subscription] do |f| %>
    <%= render partial: 'partials/form_errors', locals: {model: subscription} %>

    <% unless user_signed_in? %>
        <div class="form-group">
          <%= f.label :user_name %>
          <%= f.text_field :user_name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :user_email %>
          <%= f.text_field :user_email, class: 'form-control' %>
        </div>


        <div class="form-group">
          <%= f.label 'поменяюсь на' %>
          <%= f.text_field :user_email, class: 'form-control' %>
        </div>

    <% end %>

    <div class="actions">
      <%= f.submit 'Предложить', class: 'btn btn-primary' %>
    </div>
<% end %>


