/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Twitter bootstrap rails hack for working glyphicons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* Buffers */
.buffer-top {
    margin-top: 20px;
}

.buffer-bottom {
    margin-bottom: 20px;
}

.buffer-both {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
    height: 50px;
    width: auto;
    border-radius: 50%;
}

/* Thumbnails for events/index */
.thumbnail {
    background: transparent;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;

}

.thumbnail h3 {
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: .3em;
}

.thumbnail-inner {
    padding: 0px 4px 4px;
}

.img-logo{
    height: 90px;
    width: 150px;
    border-radius: 50px;
}

.rightstr {
    text-align: right; /* Выравнивание по правому краю */
}

.leftstr {
    float: left; /* Обтекание справа */
    margin-bottom: 50px;
}
.img-app {
    width: 100%;
   height: 140px;
}