
.event-info {
    position: relative;
    color: #000000;
    overflow: hidden;
    margin-bottom: 20px;
}

.event-img {
    position: absolute;
    width: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center;

}

.text-color {
    color: #fff;
}

.event-description * {
    color: white;
}

.event-description small {
    color: #ffffff;
}

.event-info-inner {
    background: rgba(0, 0, 0, 0.4);
}

.event-map {
    margin: 20px 0;
    width: 30%;
    height: 300px;
    float:right;
}

.space {
    margin-right: 5px;
}

.img-logo {
    width: 100px;
    height: 200px;
}
